backend/app/sync/siding/ServiciosPlanner.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosPlanner" targetNamespace="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/">
	<wsdl:types>
		<xsd:schema targetNamespace="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/">
			<xsd:element name="getInfoEstudianteRequest" type="tns:Rut">

			</xsd:element>
			<xsd:element name="getInfoEstudianteResponse" type="tns:InfoEstudiante">

			</xsd:element>
			<xsd:element name="getInfoEstudianteFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getInfoEstudianteFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fault" type="xsd:string"></xsd:element>
			<xsd:element name="getCursosHechosRequest" type="tns:Rut">

			</xsd:element>
			<xsd:element name="getCursosHechosResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="CursosHechos" type="tns:CursoHecho" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="InfoEstudiante">
				<xsd:all>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1" />
					<xsd:element name="Sexo" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Curriculo" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="PPA" type="xsd:decimal" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Estado" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="MajorInscrito" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="MinorInscrito" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="TituloInscrito" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Codigo" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Carrera" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="PeriodoAdmision" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="CursoHecho">
				<xsd:all>
					<xsd:element name="Sigla" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Creditos" type="xsd:int" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Estado" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Periodo" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="TipoCurso" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="UnidadAcademica" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Curso">
				<xsd:all>
					<xsd:element name="Sigla" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Semestralidad" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Creditos" type="xsd:int" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="getCursosHechosFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getCursosHechosFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getListadoMajorResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Majors" type="tns:Major" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListadoMajorFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getListadoMajorFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOfertaMajorRequest" type="tns:Rut">

			</xsd:element>
			<xsd:element name="getOfertaMajorResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Majors" type="tns:Major" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOfertaMajorFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getOfertaMajorFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListadoMinorResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Minors" type="tns:Minor" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListadoMinorFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getListadoMinorFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOfertaMinorRequest" type="tns:Rut">

			</xsd:element>
			<xsd:element name="getOfertaMinorResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Minors" type="tns:Minor" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOfertaMinorFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getOfertaMinorFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListadoTitulo">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListadoTituloResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Titulos" type="tns:Titulo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListadoTituloFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getListadoTituloFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOfertaTituloRequest" type="tns:Rut">

			</xsd:element>
			<xsd:element name="getOfertaTituloResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Titulos" type="tns:Titulo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOfertaTituloFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getOfertaTituloFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMajorMinorAsociadoRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CodMajor" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMajorMinorAsociadoResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Minors" type="tns:Minor" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMajorMinorAsociadoFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getMajorMinorAsociadoFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConcentracionCursosRequest" type="tns:PlanEstudios">

			</xsd:element>
			<xsd:element name="getConcentracionCursosResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Cursos" type="tns:Curso" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConcentracionCursosFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getConcentracionCursosFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMallaSugeridaRequest" type="tns:PlanEstudios">

			</xsd:element>
			<xsd:element name="getMallaSugeridaResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="BloquesMalla" type="tns:BloqueMalla" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMallaSugeridaFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getMallaSugeridaFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCursoEquivalenteRequest" type="tns:CursoPlanEstudios">

			</xsd:element>
			<xsd:element name="getCursoEquivalenteResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Cursos" type="tns:Curso" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCursoEquivalenteFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getCursoEquivalenteFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRequisitoRequest" type="tns:CursoPlanEstudios">

			</xsd:element>
			<xsd:element name="getRequisitoResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Cursos" type="tns:Curso" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRequisitoFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getRequisitosFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRestriccionRequest" type="tns:CursoPlanEstudios">

			</xsd:element>
			<xsd:element name="getRestriccionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Restricciones" type="tns:Restriccion" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRestriccionFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getRestriccionFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListaPredefinidaRequest">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">

						<xsd:element name="CodLista" type="xsd:string"></xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListaPredefinidaResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Cursos" type="tns:Curso" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getListaPredefinidaFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getListaPredefinidaFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Major">
				<xsd:all>
					<xsd:element name="CodMajor" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="VersionMajor" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Curriculum" maxOccurs="1" minOccurs="1" type="tns:stringArray">
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Minor">
				<xsd:all>
					<xsd:element name="CodMinor" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="TipoMinor" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="VersionMinor" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Curriculum" maxOccurs="1" minOccurs="1" type="tns:stringArray">
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Titulo">
				<xsd:all>
					<xsd:element name="CodTitulo" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="TipoTitulo" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="VersionTitulo" type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Curriculum" maxOccurs="1" minOccurs="1" type="tns:stringArray">
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PlanEstudios">
				<xsd:all>
					<xsd:element name="CodCurriculum" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodMajor" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodMinor" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodTitulo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CursoPlanEstudios">
				<xsd:all>
					<xsd:element name="Sigla" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodCurriculum" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodMajor" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodMinor" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodTitulo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="BloqueMalla">
				<xsd:all>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodSigla" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CodLista" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="Programa" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="Creditos" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="SemestreBloque" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="OrdenSemestre" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="Equivalencias" maxOccurs="1" minOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Cursos" type="tns:Curso" maxOccurs="unbounded" minOccurs="0">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Restricciones" maxOccurs="1" minOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Restricciones" type="tns:Restriccion" maxOccurs="unbounded" minOccurs="0">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Requisitos" maxOccurs="1" minOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Cursos" type="tns:Curso" maxOccurs="unbounded" minOccurs="0">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Tipocurso" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="BloqueAcademico" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Restriccion">
				<xsd:sequence>
					<xsd:element name="Nombre" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CreditoMin" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Void"></xsd:complexType>

			<xsd:element name="getListadoMinorRequest" type="tns:Void">
			</xsd:element>
			<xsd:element name="getListadoMajorRequest" type="tns:Void">
			</xsd:element>
			<xsd:element name="getListadoTituloRequest" type="tns:Void">
			</xsd:element>

			<xsd:complexType name="Rut">
				<xsd:all>
					<xsd:element name="rut" maxOccurs="1" minOccurs="1" type="xsd:string">

					</xsd:element>
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="stringArray">
				<xsd:all>
					<xsd:element name="strings" type="tns:stringsList" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="stringsList">
				<xsd:sequence>
					<xsd:element name="string" type="xsd:string" maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getInfoEstudianteRequest">
		<wsdl:part name="request" element="tns:getInfoEstudianteRequest" />
	</wsdl:message>
	<wsdl:message name="getInfoEstudianteResponse">
		<wsdl:part element="tns:getInfoEstudianteResponse" name="response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getInfoEstudianteFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCursosHechosRequest">
		<wsdl:part name="request" element="tns:getCursosHechosRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCursosHechosResponse">
		<wsdl:part name="response" element="tns:getCursosHechosResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCursosHechosFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoMajorRequest">
		<wsdl:part name="request" element="tns:getListadoMajorRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoMajorResponse">
		<wsdl:part name="response" element="tns:getListadoMajorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoMajorFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaMajorRequest">
		<wsdl:part name="request" element="tns:getOfertaMajorRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaMajorResponse">
		<wsdl:part name="response" element="tns:getOfertaMajorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaMajorFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoMinorRequest">
		<wsdl:part name="request" element="tns:getListadoMinorRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoMinorResponse">
		<wsdl:part name="response" element="tns:getListadoMinorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoMinorFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaMinorRequest">
		<wsdl:part name="request" element="tns:getOfertaMinorRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaMinorResponse">
		<wsdl:part name="response" element="tns:getOfertaMinorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaMinorFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoTituloRequest">

		<wsdl:part name="request" element="tns:getListadoTituloRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoTituloResponse">
		<wsdl:part name="response" element="tns:getListadoTituloResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListadoTituloFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaTituloRequest">
		<wsdl:part name="request" element="tns:getOfertaTituloRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaTituloResponse">
		<wsdl:part name="response" element="tns:getOfertaTituloResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfertaTituloFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMajorMinorAsociadoRequest">
		<wsdl:part name="request" element="tns:getMajorMinorAsociadoRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMajorMinorAsociadoResponse">
		<wsdl:part name="response" element="tns:getMajorMinorAsociadoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMajorMinorAsociadoFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConcentracionCursosRequest">
		<wsdl:part name="request" element="tns:getConcentracionCursosRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConcentracionCursosResponse">
		<wsdl:part name="response" element="tns:getConcentracionCursosResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConcentracionCursosFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMallaSugeridaRequest">
		<wsdl:part name="request" element="tns:getMallaSugeridaRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMallaSugeridaResponse">
		<wsdl:part name="response" element="tns:getMallaSugeridaResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMallaSugeridaFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCursoEquivalenteRequest">
		<wsdl:part name="request" element="tns:getCursoEquivalenteRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCursoEquivalenteResponse">
		<wsdl:part name="parameters" element="tns:getCursoEquivalenteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCursoEquivalenteFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRequisitoRequest">
		<wsdl:part name="request" element="tns:getRequisitoRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRequisitoResponse">
		<wsdl:part name="parameters" element="tns:getRequisitoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRequisitoFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRestriccionRequest">
		<wsdl:part name="request" element="tns:getRestriccionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRestriccionResponse">
		<wsdl:part name="parameters" element="tns:getRestriccionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRestriccionFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListaPredefinidaRequest">
		<wsdl:part name="request" element="tns:getListaPredefinidaRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListaPredefinidaResponse">
		<wsdl:part name="parameters" element="tns:getListaPredefinidaResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getListaPredefinidaFault">
		<wsdl:part name="fault" element="tns:fault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiciosPlanner">
		<wsdl:operation name="getInfoEstudiante">
			<wsdl:input message="tns:getInfoEstudianteRequest" />
			<wsdl:output message="tns:getInfoEstudianteResponse" />
			<wsdl:fault name="fault" message="tns:getInfoEstudianteFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCursosHechos">
			<wsdl:input message="tns:getCursosHechosRequest"></wsdl:input>
			<wsdl:output message="tns:getCursosHechosResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getCursosHechosFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListadoMajor">
			<wsdl:input message="tns:getListadoMajorRequest"></wsdl:input>
			<wsdl:output message="tns:getListadoMajorResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getListadoMajorFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOfertaMajor">
			<wsdl:input message="tns:getOfertaMajorRequest"></wsdl:input>
			<wsdl:output message="tns:getOfertaMajorResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getOfertaMajorFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListadoMinor">
			<wsdl:input message="tns:getListadoMinorRequest"></wsdl:input>
			<wsdl:output message="tns:getListadoMinorResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getListadoMinorFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOfertaMinor">
			<wsdl:input message="tns:getOfertaMinorRequest"></wsdl:input>
			<wsdl:output message="tns:getOfertaMinorResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getOfertaMinorFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListadoTitulo">
			<wsdl:input message="tns:getListadoTituloRequest"></wsdl:input>
			<wsdl:output message="tns:getListadoTituloResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getListadoTituloFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOfertaTitulo">
			<wsdl:input message="tns:getOfertaTituloRequest"></wsdl:input>
			<wsdl:output message="tns:getOfertaTituloResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getOfertaTituloFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMajorMinorAsociado">
			<wsdl:input message="tns:getMajorMinorAsociadoRequest"></wsdl:input>
			<wsdl:output message="tns:getMajorMinorAsociadoResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getMajorMinorAsociadoFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConcentracionCursos">
			<wsdl:input message="tns:getConcentracionCursosRequest"></wsdl:input>
			<wsdl:output message="tns:getConcentracionCursosResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getConcentracionCursosFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMallaSugerida">
			<wsdl:input message="tns:getMallaSugeridaRequest"></wsdl:input>
			<wsdl:output message="tns:getMallaSugeridaResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getMallaSugeridaFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCursoEquivalente">
			<wsdl:input message="tns:getCursoEquivalenteRequest"></wsdl:input>
			<wsdl:output message="tns:getCursoEquivalenteResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getCursoEquivalenteFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRequisito">
			<wsdl:input message="tns:getRequisitoRequest"></wsdl:input>
			<wsdl:output message="tns:getRequisitoResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getRequisitoFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRestriccion">
			<wsdl:input message="tns:getRestriccionRequest"></wsdl:input>
			<wsdl:output message="tns:getRestriccionResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getRestriccionFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListaPredefinida">
			<wsdl:input message="tns:getListaPredefinidaRequest"></wsdl:input>
			<wsdl:output message="tns:getListaPredefinidaResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:getListaPredefinidaFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ServiciosPlannerBind" type="tns:ServiciosPlanner">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getInfoEstudiante">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getInfoEstudiante" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCursosHechos">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getCursosHechos" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListadoMajor">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getListadoMajor" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOfertaMajor">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getOfertaMajor" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListadoMinor">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getListadoMinor" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOfertaMinor">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getOfertaMinor" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListadoTitulo">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getListadoTitulo" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOfertaTitulo">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getOfertaTitulo" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMajorMinorAsociado">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getMajorMinorAsociado" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConcentracionCursos">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getConcentracionCursos" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMallaSugerida">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getMallaSugerida" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCursoEquivalente">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getCursoEquivalente" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRequisito">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getRequisito" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRestriccion">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getRestriccion" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListaPredefinida">

			<soap:operation soapAction="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/getListaPredefinida" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiciosPlanner">
		<wsdl:port binding="tns:ServiciosPlannerBind" name="ServiciosPlannerSOAP">
			<soap:address location="https://intrawww.ing.puc.cl/siding/ws/ServiciosPlanner_test1/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>